.main_left{width: 600px;float:left;}
.topic_desc{height: 124px;border-bottom:1px solid #ddd;padding-bottom: 20px;position: relative;top: 0px;left: 0px}
			.user_icon{height: 124px;width: 124px;display: inline-block;border-radius:4px;margin-right: 20px;float: left;cursor: pointer;position: relative;}
			.user_icon_dialog{height: 124px;width: 124px;display: inline-block;border-radius:4px;position: absolute;top: 0px;left: 0px;z-index: 90;background: #505050;filter:alpha(opacity=50);  
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.5;display: none; cursor: pointer;}
			.user_icon_dialog .setting_dialog_img{position: absolute;left:36px;top:24px; display: inline-block;height: 50px;width: 50px;}
			.user_icon_dialog .setting_dialog_font{position: absolute;left:19px;top:82px;color: #fff;}

.reduction{height: 80px;float: left;padding-top:54px;}
			.username_sex_able{
				padding-left: 4px;
				height: 32px;
				line-height: 32px;
				color:#151515;
				font-size: 18px;
				display: inline;
				width: auto;
				border: none;
				cursor: pointer;
				background: #fff;
				padding: 2px 16px 2px 4px;
				padding-left: 4px;
				width:100px;
			}
			
.controller_able{
			display: inline-block;
				height: 30px;
				width: 90px;
				line-height: 30px;}
			.update_able_img{padding-top: 5px;float: left;cursor: pointer;}
			.controller_able font{height: 30px;line-height: 30px;padding-left:6px;color:#ec6e66;}

			.go_back_user_center{position: absolute;bottom: 20px;right: 14px;color: #888;cursor: pointer;background: url(../images/go_black.png) center right no-repeat;padding-right: 14px;}

			.women{background: url(../images/women.png) right center no-repeat;}
			.information{height: 26px;line-height: 26px;font-size: 16px;color: #888;}
			.fans_caring{height: 24px;line-height: 24px;color: #2b2b2b;}
			.fans_caring span{margin-right: 32px;}
			.fans_caring font{color:#ff3b2f;margin-left: 8px;}
.topic_main_list{margin-top: 10px;}
.setting_list{margin-top: 10px;}
.setting_list li{height: 50px;line-height: 50px;}
.setting_list .detail_info{display: inline-block;height: 50px;line-height: 50px;width: 152px;color:#151515;font-size: 16px;font-weight: bold;}
.setting_list .make_phone_edit_able{color: #888;}

.wechat,.password{padding: 4px 10px 4px 4px;margin-left: -8px;white-space:nowrap;display: inline;border: none;background: #fff;}

.edit_able{border: 1px solid #ff3b2f;border-radius: 4px;}
#file_upload{display: none;}


.update_code{width:100px;height: 20px;border: 1px solid #ff3b2f;border-radius: 4px;}
.update_password_code{display:inline-block;height: 30px;margin-left: 10px;padding: 0px 10px;background: #ec6e66;color: #fff;line-height: 30px;text-align: center;cursor: pointer;border-radius: 4px;}
.update_password_code_end{background: #afafaf;}




