
            	<li class="per_list_detail_li">		
				<div class="detail_right">
					<!--话题导师介绍信息开始-->
					<div class="teacher_info">
						<a href=''><img originalSrc="<?=FileUtils::getFilePath('images', 'topic', "header.png")?>" class="teacher_header lazy"></a>
						<a href=''><span class='teacher_info_name'>承情</span></a><span class="ticon"></span>
						<a class="let_me_answer">我来回答</a>
					</div>
					<!--话题导师介绍信息介绍-->
					
					<!--话题展示開始-->
					<div class="teacher_topic">
					   <!-- 话题标题信息开始 -->
						<div class="topic_list_head">
							<span>精</span>
							<a href=''><h2 class='topic_list_title'>有没有什么很中二又很装逼的语句？</h2></a>
						</div>
						<div class="answer_view_num">
							 <span>250 回答</span> <span>318 浏览</span>
						</div>
						<!-- 标题信息结束 -->
						<!-- 话题简介正文开始 -->
						<div class="topic_list_desc">
							<div class="topic_brief">不管你是成天呆在宿舍看苍老师的死肥宅学生，还是奔波于办公室出租房两点一线的职场菜鸟，只要你能熟练掌握运用以下语录，将会提升你在生活里的不少逼格。请随意模仿，后果本人概不负责。
								1、 政治考场。 剩下最后一道政治题，没有时间完成了， …只要你能熟练掌握运用以下语录</div>
						</div>
						<!-- 话题简介正文结束 -->
						<!-- 话题简介正文底部按钮 开始-->
						<dl class="topic_add_ons">
							<dd class="agree">22  赞</dd>
							<dd class="disagree">10  踩</dd>
							<dd class="stop_comment">
								200评论
								<img src="<?=FileUtils::getFilePath("images","topic","single.png")?>" />
							</dd>
							<dd class="follow_topic">关注话题</dd>
							<dd class="share_topic">分享</dd>
						</dl>
						<!-- 话题简介正文底部按钮结束 -->
						
						<div class="topic_comment_list">
						    <!--  话题评论框开始 -->
							<div class="comment_topic_main">
								<input type='text' class='comment_content' />
								<span class="send_comment"> 评论 </span>
							</div>
							<!-- 话题评论框结束 -->
							
							<ul class="comment_info">
								<li>
									<div class="user_for_comment">
										<img originalSrc="<?=FileUtils::getFilePath("images","topic","header.png")?>" class="userHeader lazy">
										<div class="user_for_comment_time">
											<a class="user_name" href="">黄昏景下</a>
											<div class="user_for_comment_down">
												<span class='comment_time'>4天前</span> <span
													class='agree_comment_num'>181</span> <span
													class="stop_comment_num">134</span>
											
											</div>
										</div>

									</div>
									<div class='repaly_comment_list'>
										<div class="replay_detail">今晚音乐不够嗨，亦或是手机不好玩，所以谈（约）个恋爱（玩，所以谈（约）个恋爱（火包）玩玩吧..</div>
										      
										      <dl>
										          <dd>
    										          <div class="user_for_comment">
                										<img originalSrc="<?=FileUtils::getFilePath("images","topic","header.png")?>" class="userHeader lazy">
                										<div class="user_for_comment_time">
                											<a class="user_name" href="">黄昏景下</a>
                											<div class="user_for_comment_down">
                												<span class='comment_time'>刚刚</span> 
                											     <span class='del_user_second_replay'>删除</span>
                											</div>
                										</div>
                									</div>
                									<div class='repaly_comment_list'>
                										<div class="replay_detail">今晚音乐不够嗨，亦或是手机不好玩，所以谈（约）个恋爱（火包）玩玩吧..今晚音乐不够嗨，亦或是手机不好玩，所以谈（约）个恋爱（火包）玩玩吧..</div>
                                                    </div>
										        </dd>
										           <dd>
    										          <div class="user_for_comment">
                										<img originalSrc="<?=FileUtils::getFilePath("images","topic","header.png")?>" class="userHeader lazy">
                										<div class="user_for_comment_time">
                											<a class="user_name" href="">黄昏景下</a>
                											<div class="user_for_comment_down">
                												<span class='comment_time'>刚刚</span> 
                											     <span class='del_user_second_replay'>删除</span>
                											</div>
                										</div>
                									</div>
                									<div class='repaly_comment_list'>
                										<div class="replay_detail">今晚音乐不够嗨，今晚音乐不够嗨，亦或是手机不爱（火包）玩玩吧..亦或是手机不好玩，所以谈（约）个恋爱（火包）玩玩吧..</div>
                                                    </div>
										        </dd>
										          <dd>
    										          <div class="user_for_comment">
                										<img originalSrc="<?=FileUtils::getFilePath("images","topic","header.png")?>" class="userHeader lazy">
                										<div class="user_for_comment_time">
                											<a class="user_name" href="">黄昏景下</a>
                											<div class="user_for_comment_down">
                												<span class='comment_time'>刚刚</span> 
                											     <span class='del_user_second_replay'>删除</span>
                											</div>
                										</div>
                									</div>
                									<div class='repaly_comment_list'>
                										<div class="replay_detail">今晚音乐不够嗨今晚音乐不够嗨，亦机不好玩，所以谈（约）个恋爱（火包）玩玩吧..</div>
                                                    </div>
										        </dd>
										      </dl>
										      <div class="send_double_textarea">
												<input type='text' class="textarea_content" /> <span
													class="replay_sub">评论</span> <span class='replay_reset'>取消</span>

											 </div>
									</div>
								</li>

						        <li>
									<div class="user_for_comment">
										<img originalSrc="<?=FileUtils::getFilePath("images","topic","header.png")?>" class="userHeader lazy">
										<div class="user_for_comment_time">
											<a class="user_name" href="">黄昏景下</a>
											<div class="user_for_comment_down">
												<span class='comment_time'>4天前</span> <span
													class='agree_comment_num'>181</span> <span
													class="stop_comment_num">134</span>
											
											</div>
										</div>

									</div>
									<div class='repaly_comment_list'>
										<div class="replay_detail">今晚音乐不够嗨，亦或是手机不好玩，所以谈（约）个恋爱（玩，所以谈（约）个恋爱（火包）玩玩吧..</div>
										      
										      <dl>
										          <dd>
    										          <div class="user_for_comment">
                										<img originalSrc="<?=FileUtils::getFilePath("images","topic","header.png")?>" class="userHeader lazy">
                										<div class="user_for_comment_time">
                											<a class="user_name" href="">黄昏景下</a>
                											<div class="user_for_comment_down">
                												<span class='comment_time'>刚刚</span> 
                											     <span class='del_user_second_replay'>删除</span>
                											</div>
                										</div>
                									</div>
                									<div class='repaly_comment_list'>
                										<div class="replay_detail">今晚音乐不够嗨，亦或是手机不好玩，所以谈（约）个恋爱（火包）玩玩吧..今晚音乐不够嗨，亦或是手机不好玩，所以谈（约）个恋爱（火包）玩玩吧..</div>
                                                    </div>
										        </dd>
										           <dd>
    										          <div class="user_for_comment">
                										<img originalSrc="<?=FileUtils::getFilePath("images","topic","header.png")?>" class="userHeader lazy">
                										<div class="user_for_comment_time">
                											<a class="user_name" href="">黄昏景下</a>
                											<div class="user_for_comment_down">
                												<span class='comment_time'>刚刚</span> 
                											     <span class='del_user_second_replay'>删除</span>
                											</div>
                										</div>
                									</div>
                									<div class='repaly_comment_list'>
                										<div class="replay_detail">今晚音乐不够嗨，今晚音乐不够嗨，亦或是手机不爱（火包）玩玩吧..亦或是手机不好玩，所以谈（约）个恋爱（火包）玩玩吧..</div>
                                                    </div>
										        </dd>
										          <dd>
    										          <div class="user_for_comment">
                										<img originalSrc="<?=FileUtils::getFilePath("images","topic","header.png")?>" class="userHeader lazy">
                										<div class="user_for_comment_time">
                											<a class="user_name" href="">黄昏景下</a>
                											<div class="user_for_comment_down">
                												<span class='comment_time'>刚刚</span> 
                											     <span class='del_user_second_replay'>删除</span>
                											</div>
                										</div>
                									</div>
                									<div class='repaly_comment_list'>
                										<div class="replay_detail">今晚音乐不够嗨今晚音乐不够嗨，亦机不好玩，所以谈（约）个恋爱（火包）玩玩吧..</div>
                                                    </div>
										        </dd>
										      </dl>
										      <div class="send_double_textarea">
												<input type='text' class="textarea_content" /> <span
													class="replay_sub">评论</span> <span class='replay_reset'>取消</span>

											 </div>
									</div>
								</li>




							</ul>
							<div class="comment_page">
								<span>上一页</span> <span class='active'>1</span> <span>2</span> <span>3</span>
								<span>4</span> <span>5</span> <span>下一页</span>
							</div>
						</div>
					</div>
					<!--话题展示結束-->
				</div>
			</li>