@charset "UTF-8";
@media screen and (min-width: 320px) { html{font-size:50px;} }
@media screen and (min-width: 360px) { html{font-size:56.25px;} }
@media screen and (min-width: 375px) { html{font-size:58.59375px;} }
@media screen and (min-width: 400px) { html{font-size:62.5px;} }
@media screen and (min-width: 414px) { html{font-size:64.6875px;} }
@media screen and (min-width: 440px) { html{font-size:68.75px;} }
@media screen and (min-width: 480px) { html{font-size:75px;} }
@media screen and (min-width: 520px) { html{font-size:81.25px;} }
@media screen and (min-width: 560px) { html{font-size:87.5px;} }
@media screen and (min-width: 600px) { html{font-size:93.75px;} }
@media screen and (min-width: 640px) { html{font-size:100px;} }
@media screen and (min-width: 680px) { html{font-size:106.25px;} }
@media screen and (min-width: 720px) { html{font-size:112.5px;} }
@media screen and (min-width: 760px) { html{font-size:118.75px;} }
@media screen and (min-width: 800px) { html{font-size:68.75px;} .bodyauto{margin:0 auto;max-width:8rem;position:relative;}  .maxWidth{max-width:8rem;} }

*{margin:0px;padding:0px;}
body{font-size:0.24rem;font-family:"Microsoft Yahei",Helvetica,STHeiti,Droid Sans Fallback;background:#f4f4f4;}
ul,li{list-style:none;}
a{vertical-align:top;text-decoration:none;color:#000;}
img{vertical-align:top;border:none;}
input,button,textarea{font-family:"Microsoft Yahei",Helvetica,STHeiti,Droid Sans Fallback;}
input:focus,textarea:focus,button:focus{outline:none;}
table{border-collapse:collapse;}

.whiteBg{background:#fff;}

.m_top{position:relative;height:0.9rem;font-size:0.32rem;background:#fff;border-bottom:0.005rem solid #d5d5d5;overflow:hidden;}
.m_top label{position:absolute;left:0;top:0;line-height:0.9rem;color:#333;margin-left:0.2rem;}
.m_top label img{vertical-align:top;height:0.4rem;margin:0.24rem 0.13rem 0 0;}
.m_top p{height:0.9rem;line-height:0.9rem;text-align:center;font-weight:bold;color:#333;}
.m_top span{position:absolute;right:0;top:0;}
.m_top span a{padding:0 0.25rem 0 0.1rem;line-height:0.9rem;color:#ca575c;font-size:0.32rem;}
.m_top span img{margin:0.275rem 0 0 0;width:0.35rem;}
.m_top .icon2 img{margin:0.25rem 0 0 0;width:0.4rem;}
.m_top .icon3 a{padding-right:0.35rem;}
.m_top .icon3 img{margin:0.2rem 0 0 0;width:0.45rem;}

.m_nav{z-index:9;position:fixed;bottom:0;width:100%;height:1rem;background:#fff;border-top:0.005rem solid #ddd;}
.m_nav li{float:left;width:20%;text-align:center;font-size:0.22rem;}
.m_nav li a{display:block;padding-top:0.14rem;height:0.86rem;color:#898989;}
.m_nav li img{margin-bottom:0.03rem;height:0.46rem;}

.m_goTop{display:none;z-index:9;position:fixed;right:0.3rem;bottom:2.2rem;width:0.8rem;height:0.8rem;text-align:center;color:#fff;font-size:0.24rem;background:rgba(0,0,0,0.5);border-radius:10rem;cursor:pointer;}
.m_goTop img{margin:0.11rem 0 0 0;height:0.22rem;}

.bot_div{float:left;width:100%;height:1.5rem;}

.m_classify{z-index:10;position:relative;width:100%;height:0.88rem;background:#fff;}
.m_classify dt{float:right;height:0.14rem;padding:0.37rem 0.56rem 0.37rem 0.2rem;}
.m_classify dt img{height:0.14rem;}
.m_classify dd{margin-right:0.84rem;height:100%;overflow:hidden;}
.m_classify dd a{float:left;line-height:0.88rem;margin:0 0.25rem;font-size:0.26rem;}
.m_classify dd .current{color:#c01920;}
.m_classify div{display:none;z-index:10;position:absolute;left:0;top:0.88rem;width:100%;background:rgba(0,0,0,0.5);border-top:0.005rem solid #eee;}
.m_classify div ul{float:left;width:100%;padding:0.1rem 0;background:#fff;}
.m_classify div ul li{float:left;width:33%;line-height:0.28rem;margin:0.17rem 0;overflow:hidden;white-space:nowrap;}
.m_classify div ul a{margin:0 0 0 0.2rem;font-size:0.26rem;}
.m_classify div ul .current{color:#c01920;}

.m_focus{position:relative;height:3.2rem;background:#fff;overflow:hidden;}
.main_image{position:relative;float:left;width:100%;height:100%;overflow:hidden;}
.main_image ul{position:absolute;top:0;left:0;width:99rem;height:100%;overflow:hidden;}
.main_image li{float:left;width:100%;height:100%;}
.main_image li a{display:block;height:100%;overflow:hidden;}
.main_image li img{width:100%;min-height:100%;}

.flicking_con{z-index:8;position:absolute;bottom:0;left:0;margin-bottom:0.05rem;width:100%;height:0.18rem;text-align:center;}
.flicking_con p{display:inline-block;padding:0 0.04rem;height:0.18rem;background:rgba(0,0,0,0.5);border-radius:0.15rem;}
.flicking_con span{display:inline-block;vertical-align:top;width:0.1rem;height:0.1rem;background:rgba(225,225,225,0.7);border-radius:2rem;margin:0.04rem;}
.flicking_con .on{background:rgba(202,87,92,0.9);}

.m_paixu{height:0.89rem;text-align:center;border-bottom:0.005rem solid #eee;background:#fff;}
.m_paixu p{display:inline-block;vertical-align:top;width:33.3%;line-height:0.89rem;font-size:0.24rem;color:#898989;}
.m_paixu .current{color:#ca575c;}
.m_paixu p em{display:inline-block;vertical-align:top;margin:0.34rem 0 0 0.07rem;}
.m_paixu p em i{display:block;margin:0.04rem 0;width:0.12rem;height:0.06rem;background:url(../img/price_icon.png) no-repeat 0 0;background-size:100% auto;}
.m_paixu p em .top{background-position:0 -0.24rem;}
.m_paixu p em .bottom{background-position:0 -0.37rem;}
.m_paixu p em .top_cl{background-position:0 0;}
.m_paixu p em .bottom_cl{background-position:0 -0.13rem;}

/* vip等级 */
.v1{background:url(../img/v1.png) no-repeat center;background-size:100% auto;}
.v2{background:url(../img/v2.png) no-repeat center;background-size:100% auto;}
.v3{background:url(../img/v3.png) no-repeat center;background-size:100% auto;}
.v4{background:url(../img/v4.png) no-repeat center;background-size:100% auto;}
.v5{background:url(../img/v5.png) no-repeat center;background-size:100% auto;}
.v6{background:url(../img/v6.png) no-repeat center;background-size:100% auto;}
.v7{background:url(../img/v7.png) no-repeat center;background-size:100% auto;}
.v8{background:url(../img/v8.png) no-repeat center;background-size:100% auto;}
.v9{background:url(../img/v9.png) no-repeat center;background-size:100% auto;}
.v10{background:url(../img/v10.png) no-repeat center;background-size:100% auto;}
.v11{background:url(../img/v11.png) no-repeat center;background-size:100% auto;}

.course_comment_add{position:relative;background:#fff;height:0.8rem;padding:0.25rem 0;border-bottom:0.005rem solid #eee;}
.course_comment_add p{position:absolute;left:0.15rem;top:0.25rem;width:0.8rem;height:0.8rem;}
.course_comment_add p label{display:block;height:100%;border-radius:1rem;overflow:hidden;}
.course_comment_add p label img{width:100%;min-height:100%;}
.course_comment_add p span{position:absolute;right:0;bottom:0;width:0.26rem;height:0.26rem;border-radius:1rem;overflow:hidden;}
.course_comment_add p span img{width:100%;min-height:100%;}
.course_comment_add div{position:relative;margin:0.05rem 1.3rem 0 1.25rem;padding:0 0.1rem;height:0.68rem;border:0.005rem solid #eee;background:#f6f6f6;border-radius:0.07rem;}
.course_comment_add div img{position:absolute;left:-0.14rem;top:50%;margin-top:-0.15rem;width:0.14rem;height:0.3rem;}
.course_comment_add div input{vertical-align:top;width:100%;padding:0.15rem 0;height:0.38rem;line-height:0.38rem;font-size:0.28rem;background:none;border:0;}
.course_comment_add button{position:absolute;right:0.15rem;top:0.35rem;width:1rem;height:0.6rem;color:#fff;font-size:0.28rem;background:#ca575c;border-radius:0.07rem;border:0;}

.course_comment_list{background:#fff;}
.course_comment_list li{padding:0.25rem 0.15rem 0 0.15rem;}
.course_comment_list .portrait{position:relative;float:left;width:0.8rem;height:0.8rem;}
.course_comment_list .portrait label{display:block;height:100%;border-radius:1rem;overflow:hidden;}
.course_comment_list .portrait label img{width:100%;min-height:100%;}
.course_comment_list .portrait span{position:absolute;right:0;bottom:0;width:0.26rem;height:0.26rem;border-radius:1rem;overflow:hidden;}
.course_comment_list .portrait span img{width:100%;min-height:100%;}
.course_comment_list .comment{margin:0.05rem 0 0 1.13rem;padding:0 0 0.25rem 0;border-bottom:0.005rem solid #eee;}
.course_comment_list .user_name{position:relative;}
.course_comment_list .user_name p{margin:0 30% 0 0;font-size:0.28rem;color:#898989;white-space:nowrap;overflow:hidden;}
.course_comment_list .user_name p span{display:block;color:#ddd;font-size:0.24rem;}
.course_comment_list .user_name label{position:absolute;right:0;top:0.05rem;width:25%;line-height:0.24rem;text-align:right;font-size:0.22rem;color:#bbb;}
.course_comment_list .user_name label img{margin:0 0.07rem 0 0;width:0.22rem;}
.course_comment_list .con{margin:0.25rem 0 0 0;line-height:1.5;font-size:0.28rem;color:#333;overflow:hidden;}
.course_comment_list .reply{margin:0.25rem 0 0 0;background:#f4f4f4;padding:0.05rem 0.15rem;font-size:0.24rem;color:#333;}
.course_comment_list .reply div{padding:0.1rem 0;}
.course_comment_list .reply a{color:#526f9e;}

.footer_manage{padding:0.55rem 0;text-align:center;font-size:0.24rem;color:#898989;}
.footer_manage img{width:2.27rem;margin-bottom:0.1rem;}
.footer_manage p{margin:0 1rem;border-top:0.005rem  solid #ddd;}
.footer_manage p span{position:relative;top:-0.17rem;background:#f4f4f4;padding:0 0.1rem;line-height:0.3rem;}

.footer_buy{position:fixed;bottom:0;width:100%;height:1rem;background:#fff;border-top:0.005rem solid #eee;}
.footer_buy p{position:absolute;left:0.15rem;top:0;width:30%;height:100%;line-height:1rem;color:#c01920;font-size:0.24rem;white-space:nowrap;}
.footer_buy p b{position:relative;font-size:0.4rem;}
.footer_buy p img{position:absolute;right:-0.2rem;top:-0.3rem;height:0.35rem;}
.footer_buy div{margin:0.18rem 2.4rem 0 35%;line-height:1.5;color:#898989;font-size:0.22rem;}
.footer_buy a{position:absolute;right:0.15rem;top:0.18rem;width:1.73rem;height:0.64rem;line-height:0.64rem;text-align:center;color:#fff;font-size:0.36rem;background:#f90;border-radius:0.07rem;}

.search{position:relative;background:#fff;border-bottom:0.005rem solid #eee;padding:0.15rem;height:0.57rem;line-height:0.57rem;}
.search div{margin:0 0.9rem 0 0;background:#eee;border-radius:0.07rem;height:100%;}
.search div span{float:left;width:1rem;text-align:center;font-size:0.24rem;color:#898989;}
.search div span img{margin:0.18rem 0.05rem 0 0;width:0.22rem;}
.search div p{margin:0 0.1rem 0 1.1rem;}
.search div p input{width:100%;padding:0.1rem 0;height:0.37rem;line-height:0.37rem;border:0;background:none;font-size:0.28rem;}
.search a{position:absolute;right:0.15rem;top:0.15rem;font-size:0.32rem;color:#ca575c;}

.hot_search{background:#fff;padding:0 0 0.2rem 0;}
.hot_search dt{padding:0.15rem;font-size:0.24rem;color:#898989;}
.hot_search dd a{display:inline-block;margin:0.11rem 0.1rem 0.11rem 0.15rem;padding:0.08rem 0.2rem;border:0.005rem solid #eee;color:#898989;font-size:0.28rem;}

.pay_name{background:#fff;height:4.6rem;text-align:center;}
.pay_name p{margin:0.6rem 0 0.1rem 0;display:inline-block;width:2.83rem;height:1.51rem;overflow:hidden;}
.pay_name p img{width:100%;min-height:100%;}
.pay_name h2{font-size:0.32rem;color:#333;}
.pay_name span{display:block;font-size:0.36rem;color:#c01920;}
.pay_name span b{font-size:0.56rem;color:#c01920;font-weight:normal;}
.pay_name div{margin:0.1rem 0.8rem 0 0.8rem;padding:0.07rem 0.15rem;line-height:auto;font-size:0.24rem;color:#aa892e;border:0.005rem solid #e5c15f;background:#ffe49b;}

.payment_method{margin-top:0.2rem;background:#fff;}
.payment_method li{height:1rem;border-bottom:0.005rem solid #eee;}
.payment_method li p{float:left;line-height:1rem;font-size:0.32rem;color:#333;}
.payment_method li p img{width:0.64rem;margin:0.18rem 0.3rem 0 0.25rem;}
.payment_method li span{float:right;margin:0.29rem 0.25rem 0 0;width:0.38rem;height:0.38rem;border:0.02rem solid #c7c7c7;border-radius:1rem;background:url(../img/gou2.png) no-repeat center;background-size:0.28rem auto;}
.payment_method .current span{width:0.42rem;height:0.42rem;border:0;background:#ca575c url(../img/gou.png) no-repeat center;background-size:0.28rem auto;}

.agreement{height:0.95rem;line-height:0.95rem;text-align:center;color:#898989;font-size:0.24rem;}
.agreement span{margin:0.34rem 0.12rem 0 0;display:inline-block;vertical-align:top;width:0.26rem;height:0.26rem;background:#d7d7d7;border-radius:0.07rem;}
.agreement .current{background:#ca575c url(../img/gou.png) no-repeat center;background-size:0.2rem auto;}
.agreement a{color:#4477cb;}

.pay_submit{width:100%;height:1rem;background:#d7d7d7;color:#b4b4b4;font-size:0.36rem;border:0;}
.agree{background:#f90;color:#fff;}

.join_vip{margin:0.4rem 0;text-align:center;color:#898989;}
.join_vip a{display:block;line-height:1.5;color:#ca575c;font-size:0.32rem;}

.succeed{background:#fff;}
.succeed div{margin:0 0.2rem;padding:0.6rem 0 0.5rem 0;border-bottom:0.005rem solid #eee;text-align:center;}
.succeed p{padding:0 0 0.25rem 0;line-height:0.5rem;font-size:0.36rem;color:#42ad40;}
.succeed p i{margin-right:0.2rem;display:inline-block;vertical-align:top;width:0.5rem;height:0.5rem;border-radius:1rem;background:#42ad40 url(../img/gou.png) no-repeat center;background-size:0.35rem;}
.succeed h2{font-weight:normal;line-height:1;font-size:0.32rem;color:#333;}
.succeed label{display:block;font-size:0.32rem;color:#333;}
.succeed label span{font-size:0.4rem;}

.pay_info{background:#fff;padding:0.3rem;}
.pay_info p{color:#898989;font-size:0.28rem;padding:0.09rem 0;white-space:nowrap;overflow:hidden;}

.back_btn{padding:0.8rem 0;text-align:center;}
.back_btn a{display:inline-block;width:2.94rem;height:0.9rem;line-height:0.9rem;border:0.005rem solid #ca575c;color:#ca575c;font-size:0.36rem;border-radius:0.1rem;}

.error{background:#fff;padding:1.5rem 0.55rem 1.2rem 0.55rem;text-align:center;}
.error p{padding:0 0 0.25rem 0;line-height:0.5rem;font-size:0.36rem;color:#c01920;}
.error p i{margin-right:0.2rem;display:inline-block;vertical-align:top;width:0.5rem;height:0.5rem;border-radius:1rem;background:#c01920 url(../img/error.png) no-repeat center;background-size:0.26rem;}
.error div{line-height:0.42rem;color:#898989;font-size:0.28rem;}

.signin_form{background:#fff;margin:0.2rem 0 0 0;}
.signin_form li{padding:0 0.35rem 0 0.45rem;height:0.89rem;border-bottom:0.005rem solid #eee;}
.signin_form li input{width:100%;padding:0.25rem 0;height:0.39rem;line-height:0.49rem;font-size:0.32rem;border:0;background:none;}
.signin_form li p{float:left;width:3.6rem;}
.signin_form li span{float:right;margin:0.16rem 0 0 0;width:1.68rem;height:0.56rem;line-height:0.56rem;text-align:center;color:#fff;font-size:0.24rem;background:#333;border-radius:0.07rem;cursor:pointer;}
.signin_form li .forbidden{background:#999;}

.signin_btn{margin:0.8rem 0 0 0;width:100%;height:0.9rem;color:#fff;font-size:0.36rem;background:#ca575c;border:0;}
.signout_btn{margin:0.8rem 0 0 0;width:100%;height:0.9rem;color:#fff;font-size:0.36rem;background:#ca575c;border:0;}

.signin_other_link{margin:0.23rem 0.2rem;min-height:0.36rem;line-height:0.36rem;font-size:0.24rem;color:#898989;}
.signin_other_link a{color:#4477cb;}
.signin_other_link span{float:right;}
.signin_other_link span a{color:#898989;}

.signin_other_way{margin:0.8rem 0.45rem;}
.signin_other_way dt{border-top:0.005rem solid #ddd;text-align:center;}
.signin_other_way dt span{margin:-0.2rem 0 0 0;display:inline-block;vertical-align:top;background:#f4f4f4;padding:0 0.25rem;line-height:0.4rem;font-size:0.24rem;color:#898989;}
.signin_other_way dt .font_333{color:#333;}
.signin_other_way dd{margin-top:0.2rem;}
.signin_other_way dd .weixin{text-align:center;}
.signin_other_way dd .weixin a{display:inline-block;width:0.71rem;height:0.71rem;background:#62b900 url(../img/icon_weixin.png) no-repeat center;background-size:0.52rem auto;border-radius:1rem;}
.signin_other_way dd div{margin:0 0.2rem;line-height:0.4rem;color:#333;}

.member_head{background:#fff;padding:0.25rem;}
.member_head .info{height:1.2rem;}
.member_head .info dd{float:left;width:4.4rem;height:1.2rem;overflow:hidden;}
.member_head .info dd span{display:block;white-space:nowrap;line-height:0.4rem;color:#333;font-size:0.36rem;}
.member_head .info dd p{margin-top:0.1rem;line-height:0.35rem;color:#898989;font-size:0.24rem;}
.member_head .info dt{float:right;width:1.2rem;height:1.2rem;border-radius:1rem;overflow:hidden;}
.member_head .info dt img{width:100%;min-height:100%;}
.member_head .label_a{padding:0.35rem 0 0 0;}
.member_head .label_a a{margin:0.1rem 0.3rem 0.1rem 0;display:inline-block;padding:0 0.15rem;height:0.44rem;line-height:0.44rem;color:#ca575c;border:0.005rem solid #ca575c;border-radius:0.25rem;}

.member_list{margin-top:0.2rem;background:#fff;}
.member_list li{height:0.89rem;line-height:0.89rem;}
.member_list li a{position:relative;display:block;margin:0 0.15rem 0 1rem;height:100%;border-bottom:0.005rem solid #eee;}
.member_list li p{float:left;font-size:0.32rem;color:#333;}
.member_list li p img{margin:0.24rem 0.35rem 0 -0.65rem;width:0.41rem;}
.member_list li span{float:right;margin-right:0.15rem;width:0.2rem;height:100%;background:url(../img/right.png) no-repeat center;background-size:100% auto;}
.member_list li i{position:absolute;right:0.7rem;top:50%;margin:-0.07rem;width:0.14rem;height:0.14rem;border-radius:1rem;background:#ca575c;}

.column_title1{padding:0 0.15rem;height:0.63rem;border-bottom:0.03rem solid #ca575c;}
.column_title1 dt{float:left;margin:0.27rem 0 0 0;padding:0 0.15rem;height:0.36rem;line-height:0.36rem;color:#fff;font-size:0.24rem;background:#ca575c;}
.column_title1 dd{float:right;line-height:0.63rem;}
.column_title1 dd a{color:#898989;}
.column_title1 dd img{margin:-0.02rem 0.05rem 0 0;vertical-align:middle;width:0.29rem;}

.pages{position:relative;margin:0.4rem 0.15rem 0 0.15rem;height:0.5rem;}
.pages a{width:1.1rem;height:0.49rem;line-height:0.49rem;text-align:center;border:0.005rem solid #ddd;color:#898989;font-size:0.24rem;background:#fff;border-radius:0.07rem;}
.pages .nopage{background:#fafafa;color:#ddd;}
.pages .prev{position:absolute;left:0;top:0;}
.pages .next{position:absolute;right:0;top:0;}
.pages div{margin:0 1.2rem;line-height:0.5rem;text-align:center;color:#898989;font-size:0.24rem;}
.pages div input{margin:0 0.05rem;display:inline-block;vertical-align:top;width:0.66rem;height:0.49rem;line-height:0.49rem;text-align:center;border:0.005rem solid #ddd;color:#898989;font-size:0.24rem;background:#fff;border-radius:0.07rem;}
.pages div button{margin:0 0 0 0.25rem;display:inline-block;vertical-align:top;width:1.1rem;height:0.5rem;text-align:center;border:0.005rem solid #ddd;color:#898989;font-size:0.24rem;background:#fff;border-radius:0.07rem;}

.m_tab{height:0.84rem;background:#fff;margin-bottom:0.2rem;border-bottom:0.005rem solid #eee;}
.m_tab li{float:left;width:50%;text-align:center;}
.m_tab li a{line-height:0.82rem;color:#898989;font-size:0.36rem;}
.m_tab .current{border-bottom:0.03rem solid #ca575c;}
.m_tab .current a{color:#ca575c;}

.huida_title{margin:0.5rem 0.15rem 0 0.15rem;height:0.3rem;}
.huida_title dt{float:left;line-height:0.3rem;font-size:0.24rem;color:#898989;}
.huida_title dd{float:right;position:relative;cursor:pointer;}
.huida_title dd .pai{padding:0 0.26rem 0 0;line-height:0.3rem;color:#898989;font-size:0.24rem;background:url(../img/down.png) no-repeat right center;background-size:0.18rem;}
.huida_title dd div{display:none;position:absolute;right:0;bottom:0.6rem;width:2.5rem;background:rgba(0,0,0,0.8);border-radius:0.15rem;}
.huida_title dd div i{position:absolute;right:0.3rem;bottom:-0.15rem;width:0;height:0;border-left:0.15rem solid transparent;border-right:0.15rem solid transparent;border-top:0.15rem solid rgba(0,0,0,0.8);}
.huida_title dd div p{margin:0 0.15rem;height:0.86rem;line-height:0.86rem;border-bottom:0.005rem solid #fff;}
.huida_title dd div p:nth-last-child(2){border:0;}
.huida_title dd div a{display:block;padding-left:0.15rem;font-size:0.28rem;color:#fff;}
.huida_title dd div .current{background:url(../img/gou3.png) no-repeat right center;background-size:0.31rem auto;}

.huati_huida_list li{margin:0.2rem 0 0 0;padding:0.25rem 0.15rem;background:#fff;}
.huati_huida_list .portrait{position:relative;float:left;width:0.8rem;height:0.8rem;}
.huati_huida_list .portrait label{display:block;height:100%;border-radius:1rem;overflow:hidden;}
.huati_huida_list .portrait label img{width:100%;min-height:100%;}
.huati_huida_list .portrait span{position:absolute;right:0;bottom:0;width:0.26rem;height:0.26rem;border-radius:1rem;overflow:hidden;}
.huati_huida_list .user_name{position:relative;margin:0.1rem 0 0 0.95rem;}
.huati_huida_list .user_name p{margin:0 45% 0 0;font-size:0.28rem;color:#898989;white-space:nowrap;overflow:hidden;}
.huati_huida_list .user_name p span{display:block;color:#ddd;font-size:0.24rem;}
.huati_huida_list .user_name p img{height:0.24rem;margin:0.08rem 0 0 0.1rem;}
.huati_huida_list .user_name label{position:absolute;right:0;top:0.05rem;width:40%;height:0.24rem;line-height:0.24rem;text-align:right;font-size:0.22rem;color:#bbb;overflow:hidden;}
.huati_huida_list .user_name label img{margin:0 0.07rem 0 0.3rem;width:0.22rem;}
.huati_huida_list .user_name label img:nth-child(1){margin-left:0;}
.huati_huida_list .con{margin:0.25rem 0 0 0;max-height:1.44rem;line-height:0.48rem;font-size:0.32rem;color:#333;overflow:hidden;}
.huati_huida_list .con .show,.huati_huida_list .con_all .hide{color:#5f82bb;cursor:pointer;}
.huati_huida_list .con_all{display:none;margin:0.25rem 0 0 0;line-height:0.48rem;font-size:0.32rem;color:#333;overflow:hidden;}
.huati_huida_list .con img,.huati_huida_list .con_all img{max-width:100%;}
.huati_huida_list .comment{padding-top:0.2rem;height:0.4rem;font-size:0.22rem;}
.huati_huida_list .comment a{float:left;padding:0 0.25rem;line-height:0.38rem;border:0.005rem solid #bbb;color:#bbb;border-radius:0.3rem;margin:0 0.4rem 0 0;}
.huati_huida_list .comment p{position:relative;float:right;line-height:0.4rem;text-align:right;color:#bbb;cursor:pointer;}
.huati_huida_list .comment i{display:none;position:absolute;left:50%;bottom:-0.27rem;margin-left:-0.12rem;width:0.24rem;height:0.15rem;background:url(../img/jiao.png) no-repeat;background-size:100% auto;}

.comment_hide_box{display:none;margin-top:0.25rem;padding:0.25rem 0.15rem;border:0.005rem solid #eee;border-radius:0.1rem;}
.comment_hide_box .edit_comment{position:relative;height:0.76rem;}
.comment_hide_box .edit_comment p{margin-right:0.8rem;padding:0.13rem 0.1rem;line-height:0.5rem;background:#eee;border-radius:0.07rem;}
.comment_hide_box .edit_comment p input{width:100%;height:100%;border:0;background:none;}
.comment_hide_box .edit_comment button{position:absolute;right:0;top:0;width:0.6rem;height:100%;padding-top:0.45rem;text-align:center;color:#ca575c;font-size:0.22rem;background:url(../img/fly.png) no-repeat center 0.07rem;background-size:0.38rem auto;border:0;cursor:pointer;}
.comment_hide_box .comment_list .list_div{padding:0.25rem 0;border-bottom:0.005rem solid #eee;}
.comment_hide_box .comment_list .list_div:nth-last-child(1){border:0;}
.comment_hide_box .comment_list .list_div .con{margin:0.1rem 0 0 1.13rem;max-height:100%;}

.daoshi_list{margin-top:0.2rem;background:#fff;}
.daoshi_list li{padding:0.2rem 0.15rem;height:0.8rem;border-bottom:0.005rem solid #eee;}
.daoshi_list .li2{padding:0.25rem 0.15rem;}
.daoshi_list li .ds_head{float:left;width:70%;overflow:hidden;}
.daoshi_list li .ds_head div{position:relative;float:left;width:0.8rem;height:0.8rem;}
.daoshi_list li .ds_head div span{display:block;height:0.8rem;border-radius:1rem;overflow:hidden;}
.daoshi_list li .ds_head div span img{width:100%;min-height:100%;}
.daoshi_list li .ds_head div i{position:absolute;right:0;bottom:0;width:0.26rem;height:0.26rem;border-radius:1rem;}
.daoshi_list li .ds_head p{margin:0 0 0 0.95rem;line-height:0.35rem;}
.daoshi_list li .ds_head p span{display:block;margin:0.07rem 0 0.05rem 0;white-space:nowrap;font-size:0.28rem;color:#333;}
.daoshi_list li .ds_head p span img{height:0.24rem;margin:0.08rem 0 0 0.1rem;}
.daoshi_list li .ds_head p label{margin:0 0.3rem 0 0;white-space:nowrap;font-size:0.22rem;color:#898989;}
.daoshi_list li .ds_head p label a{color:#898989;}
.daoshi_list li .gz{float:right;margin:0.17rem 0 0 0;}
.daoshi_list li .gz span{display:block;width:1.2rem;height:0.46rem;line-height:0.46rem;text-align:center;color:#fff;font-size:0.28rem;background:#ca575c;border-radius:0.1rem;}
.daoshi_list li .gz .current{background:#ddd;}
.daoshi_list li .gz2{float:right;margin:0.07rem 0 0 0;}
.daoshi_list li .gz2 span{display:block;width:1.2rem;height:0.4rem;line-height:0.4rem;text-align:center;font-size:0.22rem;color:#ddd;border:0.005rem solid #ddd;border-radius:0.3rem;}
.daoshi_list li .gz2 .current{color:#fff;background:#ddd;}

.edit_form{padding:0.15rem;}
.edit_form textarea{width:100%;height:4rem;line-height:0.4rem;font-size:0.26rem;resize:none;border:0;background:none;}

.edit_bottom{height:0.8rem;border-top:0.005rem solid #eee;background:#fff;}
.edit_bottom dt{display:none;float:left;margin:0 0.15rem;height:100%;}
.edit_bottom dt img{margin:0.28rem 0 0 0;height:0.23rem;}
.edit_bottom dd{float:right;height:100%;}
.edit_bottom dd a{float:left;height:100%;margin-right:0.5rem;}
.edit_bottom dd a img{margin:0.24rem 0 0 0;height:0.31rem;}
.edit_bottom dd span{float:left;margin-right:0.5rem;width:0.36rem;height:100%;background:url(../img/ni.png) no-repeat center;background-size:100% auto;cursor:pointer;}
.edit_bottom dd .current{background:url(../img/ni2.png) no-repeat center;background-size:100% auto;}

.huati_choose{padding:0 0.15rem;height:0.8rem;border-bottom:0.005rem solid #eee;}
.huati_choose dt{display:none;float:right;height:100%;line-height:0.8rem;padding:0 0.2rem;cursor:pointer;}
.huati_choose dd{float:left;width:85%;height:100%;overflow:hidden;white-space:nowrap;}
.huati_choose dd span{display:inline-block;margin:0.18rem 0.2rem 0 0;padding:0 0.2rem;height:0.43rem;line-height:0.43rem;color:#fff;font-size:0.24rem;background:#ca575c;border-radius:0.3rem;cursor:pointer;}
.huati_choose dd label{color:#aaa;line-height:0.8rem;}

.huati_all{margin:0.15rem;}
.huati_all dt{padding:0.35rem 0 0.08rem 0;font-size:0.24rem;color:#898989;}
.huati_all dd span{display:inline-block;margin:0.1rem 0.2rem 0.1rem 0;padding:0 0.2rem;height:0.43rem;line-height:0.43rem;color:#ca575c;font-size:0.28rem;border:0.005rem solid #ca575c;border-radius:0.3rem;cursor:pointer;}
.huati_all dd .current{color:#fff;background:#ca575c;}

.member_head2{position:relative;padding:0.35rem 0.15rem;background:#fff;}
.member_head2 dt{position:absolute;right:0.15rem;top:50%;margin-top:-0.23rem;}
.member_head2 dt a{display:block;width:1.2rem;height:0.46rem;line-height:0.46rem;text-align:center;color:#ddd;font-size:0.28rem;border:0.005rem solid #ddd;border-radius:0.1rem;}
.member_head2 dt .current{background:#ddd;color:#fff;}
.member_head2 dd{margin:0 1.5rem 0 0;}
.member_head2 dd div{position:relative;float:left;width:1.4rem;height:1.4rem;}
.member_head2 dd div span{display:block;height:100%;border-radius:1rem;overflow:hidden;}
.member_head2 dd div span img{width:100%;min-height:100%;}
.member_head2 dd div i{position:absolute;right:0;bottom:0;width:0.4rem;height:0.4rem;border-radius:1rem;overflow:hidden;}
.member_head2 dd p{padding:0.32rem 0 0 0;margin-left:1.6rem;height:1.08rem;overflow:hidden;white-space:nowrap;}
.member_head2 dd p span{display:block;padding-bottom:0.15rem;line-height:0.4rem;font-size:0.32rem;}
.member_head2 dd p span img{height:0.28rem;margin:0.06rem 0 0 0.12rem;}
.member_head2 dd p label{font-size:0.22rem;color:#333;}
.member_head2 dd p i{display:inline-block;margin-left:0.25rem;padding:0 0.1rem 0 0.40rem;height:0.28rem;line-height:0.28rem;font-size:0.2rem;background:#62b900 url(../img/icon_weixin.png) no-repeat 0.07rem center;border-radius:0.3rem;background-size:0.26rem auto;color:#fff;font-style:normal;}

.member_data{height:1rem;border-top:0.005rem solid #eee;background:#fff;}
.member_data li{float:left;width:25%;height:100%;text-align:center;}
.member_data li a{display:block;height:100%;}
.member_data li b{display:inline-block;margin-top:0.15rem;position:relative;line-height:0.4rem;font-size:0.32rem;color:#333;}
.member_data li i{position:absolute;right:-0.2rem;top:0;width:0.14rem;height:0.14rem;border-radius:1rem;background:#ca575c;}
.member_data li label{display:block;line-height:0.3rem;color:#898989;font-size:0.2rem;}

.tab_title{height:0.8rem;background:#fff;border-bottom:0.005rem solid #eee;}
.tab_title p{float:left;width:33.33%;text-align:center;}
.tab_title p a{display:block;height:0.78rem;line-height:0.78rem;font-size:0.32rem;color:#898989;}
.tab_title .current a{border-bottom:0.03rem solid #ca575c;color:#ca575c;}

.no_marTop{margin-top:0;}

.member_head3{margin:0.2rem 0 0 0;padding:0.2rem 0.3rem;height:1.2rem;background:#fff;}
.member_head3 dt{float:left;line-height:1.2rem;font-size:0.32rem;}
.member_head3 dd{float:right;padding-right:0.55rem;background:url(../img/right.png) no-repeat right center;background-size:0.2rem auto;}
.member_head3 dd div{width:1.2rem;height:1.2rem;border-radius:2rem;overflow:hidden;}
.member_head3 dd div img{width:100%;min-height:100%;}

.form_list{margin:0.2rem 0 0 0;background:#fff;}
.form_list li{padding:0 0.3rem;}
.form_list li div{padding:0.25rem 0;border-bottom:0.005rem solid #eee;}
.form_list li .left{float:left;line-height:0.4rem;font-size:0.32rem;}
.form_list li .right{margin-left:1.15rem;height:0.4rem;}
.form_list li .right input{width:100%;height:100%;line-height:0.4rem;font-size:0.32rem;border:0;background:none;}
.form_list .no_edit{background:#eaeaea;}
.form_list .no_edit p{color:#898989;}
.form_list .no_edit input{color:#898989;}

.buy_list li{position:relative;margin-top:0.2rem;padding:0.15rem;height:1.51rem;background:#fff;}
.buy_list li .pic{float:left;width:2.83rem;height:100%;overflow:hidden;}
.buy_list li .pic img{width:100%;min-width:100%;}
.buy_list li .right{margin-left:3rem;white-space:nowrap;overflow:hidden;}
.buy_list li .lei span{display:inline-block;padding:0 0.15rem;line-height:0.31rem;font-size:0.22rem;color:#fff;background:#bbb;}
.buy_list li .tt{padding:0.09rem 0;line-height:0.4rem;font-size:0.32rem;font-weight:bold;overflow:hidden;text-overflow:ellipsis;}
.buy_list li .price{padding-bottom:0.09rem;line-height:0.3rem;font-size:0.22rem;color:#c01920;}
.buy_list li .price b{font-size:0.28rem;}
.buy_list li .date{margin-right:0.85rem;line-height:0.24rem;font-size:0.22rem;color:#898989;overflow:hidden;text-overflow:ellipsis;}
.buy_list li .yes,.buy_list li .no{position:absolute;right:0.15rem;bottom:0.15rem;width:0.8rem;height:0.26rem;line-height:0.26rem;text-align:center;color:#fff;font-size:0.18rem;border-radius:0.3rem;background:#65b841;white-space:nowrap;overflow:hidden;}
.buy_list li .no{background:#898989;}
.buy_list li .del{position:absolute;right:0.15rem;top:0.15rem;width:0.24rem;height:0.24rem;background:url(../img/close.png) no-repeat center;background-size:0.17rem;}

.wechat_verify{padding:0.8rem 0.2rem 0.9rem 0.2rem;background:#323232;}

.top_result{height:1.75rem;}
.top_result .one{height:100%;background:url(../img/wechat_icon2.png) no-repeat center top;background-size:1.02rem auto;}
.top_result .two{padding:0.2rem 0.5rem 0 0.5rem;text-align:center;}
.top_result .two span{vertical-align:top;display:inline-block;width:0.75rem;height:0.75rem;background:#42ad40 url(../img/gou.png) no-repeat center;background-size:0.53rem auto;border-radius:2rem;}
.top_result .two p{vertical-align:top;display:inline-block;margin-left:0.15rem;line-height:0.37rem;text-align:left;color:#898989;font-size:0.24rem;}
.top_result .two b{color:#fff;font-size:0.28rem;font-weight:normal;}
.top_result .two label{font-size:0.28rem;color:#42ad40;}
.top_result .three span{background:#c01920 url(../img/error.png) no-repeat center;background-size:0.45rem auto;}
.top_result .three label{color:#c01920;}

.form_box p{padding:0.2rem 0.1rem;background:#dee0e4;border-radius:0.1rem;}
.form_box input{width:100%;height:0.48rem;line-height:0.48rem;font-size:0.32rem;color:#383b39;border:0;background:none;}
.form_box button{margin-top:0.37rem;width:100%;height:0.88rem;color:#005b1c;font-size:0.36rem;background:#41b863;border-radius:0.1rem;border:0;}















